::-webkit-scrollbar {
  display: none;
}

.wrapper {
  background-color: #1e1e1e;
  position: relative;
  min-height: 100vh;
  height: 100%;
  overflow-x: hidden;
}

.header {
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  margin-inline: 3vw;
  padding-top: 2vh;
}

.burger {
  padding: 30px;
  background-color: #fefefe;
  border-radius: 50%;
  transition: all 0.3s;
  position: relative;
  z-index: 10001;
  border: transparent;
  &:hover {
    box-shadow: 0px 2px 100px #fefefe;
  }
}

.change-burger {
  background-color: #1e1e1e;
  &:hover {
    box-shadow: 0px 2px 100px #1e1e1e;
  }
}

.line {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 50%;
  height: 2px;
  background-color: #1e1e1e;
  transition: all 0.3s;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: -10px;
    transform: translate(-50%, 0);
    display: block;
    width: 100%;
    height: 2px;
    background-color: #1e1e1e;
    transition: all 0.3s;
  }

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translate(-50%, 0);
    display: block;
    width: 100%;
    height: 2px;
    background-color: #1e1e1e;
    transition: all 0.3s;
  }
}

.rotate-line {
  background-color: transparent;
  transform: translate(-100%);

  &::after {
    background-color: white;
    transform: rotate(135deg);
    top: 50%;
  }

  &::before {
    background-color: white;
    transform: rotate(-135deg);
    top: 50%;
  }
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-wrapper {
  height: 500px;
  width: 500px;
}

.info-wrapper {
  padding-inline: 15px;
}

.description {
  color: #f6f6f6;
}

.title {
  margin-top: 40px;
  margin-bottom: 10px;
  color: #fefefe;
}

.bar-wrapper {
  flex-basis: 30vw;
}

.bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 30vw;
  background-color: #f6f6f6;
  min-height: 100vh;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  overflow-y: auto;
  z-index: 10000;
}

.opacity-1 {
  transform: translate(0);
  opacity: 1;
}

.bar-line {
  display: block;
  border: 2px solid #555151;
  border-radius: 3px;
  width: 80%;
  margin-top: 15vh;
}

.bar-ul {
  display: block;
  width: 80%;
  text-align: center;

  &:last-child {
    padding-bottom: 150px;
  }

  & > * {
    padding-bottom: 15px;
  }

  li {
    list-style: none;
  }

  a {
    border-radius: 5px;
    display: block;
    text-decoration: none;
    color: #f6f6f6;
    font-size: 18px;
    padding: 10px 0;
    background-color: #555151;
    outline-offset: 3px;
    outline: 1px solid #555151;
    transition: all 0.3s;
    position: relative;

    &:hover,
    &:focus {
      background-color: #1e1e1e;

      span {
        display: block;
      }
    }
  }

  span {
    display: block;
    position: absolute;
    background-color: #f6f6f6;
    color: #1e1e1e;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 107%);
    display: none;
    z-index: 100;
    border: 1px solid #4d0b0b;
    border-radius: 3px;
    width: 100%;
  }
}

.wrapper::-webkit-scrollbar-thumb {
  background: #888;
}

.wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.wrapper::-webkit-scrollbar {
  display: unset;
  width: 10px;
}

.wrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 900px) {
  h1 {
    font-size: 24px;
  }

  .img {
    height: 40px;
    width: 40px;
  }

  .burger {
    padding: 20px;
  }

  .line {
    &::after {
      top: -5px;
    }

    &::before {
      top: 5px;
    }
  }

  .rotate-line {
    &::after {
      background-color: white;
      transform: rotate(135deg);
      top: 50%;
    }

    &::before {
      background-color: white;
      transform: rotate(-135deg);
      top: 50%;
    }
  }

  .project-wrapper {
    height: 280px;
    width: 280px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 20px;
  }
  .bar {
    width: 100vw;
  }
}
